body,
html {
    height: 100%;
    /* width: 100%; */
}

.container {
    display: grid;
    grid-template-columns: auto auto 1.1fr;
    grid-template-rows: auto 1fr;
    /* gap: 0px 0px; */
    height: 100%;
    /* width: 100%; */
    grid-auto-flow: row;
    grid-template-areas: "Header Header Header" "Sidebar Details Content";
}

.Header {
    grid-area: Header;
    background-color: rgb(40, 22, 58);
    color: white;
}

.Sidebar {
    grid-area: Sidebar;
    background-color: #1a171d;
    /* min-width: 200px; */
}

.Details {
    grid-area: Details;
    min-width: 230px;
    overflow: auto;
    resize: horizontal;
}

.Content {
    grid-area: Content;
}

.light {
    border-radius: 100%;
    width: 5px;
    height: 7px;
}

.question-mark {
    padding: 5px;
    border: 1px solid white;
    border-radius: 100%;
}

.inputtext {
    width: 100%;
    justify-content: center;
    margin-top: 16px;
    margin-left: -27px;
    /* border: 1px solid rgb(233, 229, 229); */
}

.inputtext input {
    width: 95%;
    margin-left: 0px;
    border: 1px solid rgb(233, 229, 229);
    background-color: #302a35;
    float: right;
    border: none;
    font-size: 20px;
}

.right_top {
    width: 107%;
}

.right_top2 {
    width: 17%;
    border: 1px solid #54514c;
    height: 30px;
    margin-left: 230px;
}

.right_top3 {
    width: 20%;
    margin-left: 2px;
}

.question-mark {
    padding: 5px;
    border: 1px solid white;
    border-radius: 100%;
}

.imgmultiple {
    height: 25px;
    width: 30px;
    margin-left: 25px;
}

.imgmultiple img {
    max-width: 100%;
    height: 30px;
    border-radius: 100%;
}

.imgtemp {
    margin-left: 21px;
    margin-top: -58px;
}

.imgtemp2 {
    margin-left: 36px;
    margin-top: -105px;
}

.headingborder {
    border: 2px solid wheat;
    margin-left: 48px;
    border: 1px solid wheat;
    border: 1px solid rgba(241, 221, 221, 0.5);
    opacity: inherit;
}

.godown {
    margin-top: 10px;
    margin-top: -19px;
    margin-left: 10px;
}

.top_notify {
    margin-top: -34px;
    background-color: red;
    width: 20px;
    border-radius: 100%;
    margin-left: 233px;
    z-index: 1;
    justify-content: center;
}

.input_left {
    width: 215px;
    margin-left: 24px;
    background-color: #302a35;
}

.left_button {
    background-color: #3a4046;
    height: 24px;
    width: 18px;
    margin-left: -22px;
    margin-top: 0px;
}

.left_div_text {
    size: 5px;
    size: 5px;
    color: grey;
}

.left_hover:hover {
    background-color: #5a436d;
}

.right_hover:hover {
    background-color: #4f4757;
}

.today_top {
    position: fixed;
    height: 20px;
    width: 50px;
    top: 50px;
    left: 814px;
    background-color: #454348;
    text-align: center;
}

.right_button {
    height: 30px;
    width: 30px;
}